.footer {
  background-color: #f8f9fa;
  padding: 8px 0;
  font-family: 'Cairo', sans-serif;
}

.footer ul {
  list-style: none;
  padding: 0px;
}
.footer  h4{
  font-size: 30px;
  color: #ac0eb5;
}
.footer li{
  margin-bottom: 10px;
  color: #666;
}
.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: #e9ecef;
  font-size: 16px;
  color: #666;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .footer ul {
    padding-left: 0;
  }
}
