.header {
  font-family: 'Cairo', sans-serif;
}

/* Top bar styling */
.top-bar {
  background-color: #eeeaea;
  text-align: center;
  padding: 5px 0;
}

.top-bar p {
  font-size: 20px;
  color: #d9534f;
}

/* Navbar styling */
.navbar {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo text styling */
.navbar-logo-text {
  font-size: 32px;
  font-weight: bold;
  color: #6a1b9a;
  text-decoration: none;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
  transition: all ease-in-out 0.3s;
}


.navbar-logo-text:hover {
  color: #9c27b0;
}

/* Navigation links */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-dropdown {
  color: black;
}

.nav-links .nav-link {
  color: black;
  font-size: 18px;
}

/* Icons styling */
.nav-icons {
  display: flex;
  gap: 30px;
  font-size: 20px;
  color: #a966d3;
}

.nav-icons .icon {
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #a966d3;
}

.nav-icons .icon:hover {
  transform: scale(1.2);
}

.offers {
  margin-top: 10px;
  color: black;
  text-decoration: none;
  font-size: 16px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }

  .nav-icons {
    margin-top: 10px;
    justify-content: center;
    width: 100%;
  }

  .navbar-logo-text {
    font-size: 24px;
    text-align: left;
  }
}

.btn_order {
  color: #fff !important;
  background-color: #ce6bec !important;
}

.productname {
  color: #ce6bec;
  text-decoration: underline;
}

.btn_exit {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ce6bec !important;
  border-radius: 50%;
  border: 0;
}


.link-admin {
  color: #ce6bec;
  text-decoration: none;
}


.cartQuantity{
  color: #ffffff;
  background-color: #d9534f;
  padding: 4px;
  font-size: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wishQuantity{
  color: #ffffff;
  background-color: #d9534f;
  padding: 4px;
  font-size: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart {
  cursor: pointer;
  transition: color 0.3s ease;
}

.heart.favorited {
  color: red;
}
